service servicemanager /system/bin/servicemanager
    class core
    user system
    group system readproc
    critical
    onrestart restart healthd
#    onrestart restart zygote
#    onrestart restart audioserver
#    onrestart restart media
#    onrestart restart surfaceflinger
#    onrestart restart inputflinger
#    onrestart restart drm
#    onrestart restart cameraserver
    onrestart restart miniaf
    onrestart restart minimedia
    onrestart restart minisf
    writepid /dev/cpuset/system-background/tasks

service minimedia /usr/libexec/droid-hybris/system/bin/minimediaservice
    class main
    user media
    group audio camera
    ioprio rt 4

service minisf /usr/libexec/droid-hybris/system/bin/minisfservice
    class main
    user system
    group graphics

service miniaf /usr/libexec/droid-hybris/system/bin/miniafservice
    class main
    user system
    group audio
